//------------------VARIABLES
$color-primario:#00195C;
$color-secundario: #fff;
$color-terceario:#B1B1B1;
$color-cuarto:#6B95FF;

//------------------FONT
$font-fami: 'Poppins'; 
$font-fami2: 'Bebas Nue'; 
$font-size-1:1.125rem; //18px
$font-size-2:1.5rem;  //24px
$font-size-3: 2.25rem; //36px
$font-size-4: 3rem;   //48px
$font-size-5: 4.5rem; //72px
//Weight
$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 600; 

//------------------MÁRGENES
$m-1: 1.25rem; //20px
$m-3: 5rem; //80px  


//------------------SIZES
$height-header: 3rem;  //48px
$height-footer: 12.5rem; //200px